<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Content-Security-Policy" content="default-src * data: gap: content: https://ssl.gstatic.com; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'">
    <script src="components/loader.js"></script>
    <script src="components/vue-onsenui.js"></script>
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.196.0.min.js"></script>
    <link rel="stylesheet" href="components/loader.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<v-ons-template id="main-page">
  <v-ons-page id="main-page">
    <v-ons-toolbar>
      <div class="center"><h1>BINGO CAMERA</h1></div>
    </v-ons-toolbar>
    <div style="text-align: center;margin-top: 40vh;">
      <h2>
        <p>Take pictures of people and upload !!</p><p>(HIROSHIMA version)</p>
      </h2>
      <v-ons-button id="start-button" @click="takePicture" class="circleBtn">START</v-ons-button>
    </div>
  </v-ons-page>
  <v-ons-dialog cancelable :visible.sync="dialogVisible">
    <v-ons-page style="text-align: center;">
      <v-ons-toolbar>
        <div class="center"><h1>NAME AND UPLOAD</h1></div>
      </v-ons-toolbar>
      <div class="background"></div>
      <div class="content">
        <p>
          <img :src="photoData"/>
          <div style="text-align: center;" class="autocomplete">
            <v-ons-input placeholder="Please name the photo." v-model="photoName" v-on:input="inputAttendee"></v-ons-input>
            <ul v-if="!selectedAttendee && photoName.length"> 
              <li v-for="attendee in filteredAttendees" @click="selectAttendee(attendee)">{{attendee}}</li>
            </ul>
          </div>
        </p>
        <p>
          <div class="button-bar" style="width: 90%">
            <div class="button-bar__item"><v-ons-button>Upload !!</v-ons-button></div>
            <div class="button-bar__item"><v-ons-button @click="dialogVisible = false">Cancel !!</v-ons-button></div>
          </div>
        </p>
      </div>
    </v-ons-page>
  </v-ons-dialog>
</v-ons-template>

<script src="amidocamera/main.js"></script>

</body>
</html>
