
h1 {
    text-shadow: 0px 4px 2px #c0c0c0;
    text-align: center;
    font-size: 30px;
    margin: 0px; 10px;
    color: black;
}

h2 {
    text-shadow: 0px 2px 1px #c0c0c0;
    text-align: center;
    font-size: 24px;
    margin: 0px; 8px;
    color: blue;
}


.dialog-container {
  width: 95vw;
  height: 95vh;
}

.dialog-container img {
    margin: 2px;
    width: 70vw;
    height: auto;
}

/*
from https://saruwakakun.com/html-css/reference/buttons
*/
.circleBtn{
    display: inline-block;
    text-decoration: none;
    background: #ff4040;
    color: #FFF;
    font-size: 18pt;
    width: 120px;
    height: 120px;
    line-height: 120px;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
    overflow: hidden;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 3px #bd6565;
    transition: .4s;
}

.circleBtn:active{
    -ms-transform: translateY(2px);
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    border-bottom: none;
}

.autocomplete {
    position: relative;
    width: available;
    z-index: 10002;
}
.autocomplete-list {
    position: absolute;
    bottom: 0;
  display: block;
  max-height: 60vh;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  -ms-scroll-snap-type: mandatory;
}
